*{
  box-sizing: border-box;
}
body{
  font-size: 30px;
}
h1{
  margin: 10px;
  text-align: center;
  /* display: block; */
}

.buy-sale{
  margin: auto;
  display: flex;
  justify-content: center;
}
.container{
  margin: auto;
}
.convert-container{
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.convert-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.convert-field > label{
  margin: 20px;
  padding: 5px;
  text-align: center;
  background-color: bisque;
  min-height: 50px;
  min-width: 70px;
  border: 2px solid green;
}
.convert-group{
  display: flex;
  justify-content:center;
  align-items: center;
}
.currency{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currency-choice{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.date{
  font-weight: bold;
  font-size: 35px;
  color: red;
}
.equal{
  margin: 20px;
  /* margin-left: 50px; */
  min-width: 100px;
  max-height: 60px;
  font-size: 45px;
  font-weight: bold;
  color: red;
}
.input-field{
  margin: 20px;
  min-height: 50px;
  min-width: 250px;
  font-size: 40px;
}
.subtitle{
  text-align: center;
  font-size: 35px;
}
#input-aim,
#input-src{
  min-width: 200px;
  max-width: 275px
}
#input-src{
  /* margin-right: 50px; */
  margin-left: 70px;
}
#input-aim{
  /* margin-left: 50px; */
  margin-right: 10px;
}