:root {
	--main-color: #4bf;
}
*{
	font-size: 30px;
}
body {
	background-color: var(--main-color);
	font-size: 30px;
	padding: 20px;
}
a {
	margin: 20px;
	padding: 10px;
	min-height: 50px;
	min-width: 150px;
	text-align: center;
	font-size: 40px;
	border: solid blue 4px;
	border-radius: 10px;
	display: inline-block;
}

button{
	margin: 10px;
	min-width: 150px;
	min-height: 70px;
}

input{
  margin: 15px;
  min-width: 400px;
  min-height: 70px;
  max-height: 80px;
  border: solid white 1px;
  border-radius: 5px;
	font-size: 25px;
}
.alert{
	margin: 10px;
	padding: 10px;
	min-width: 850px;
	min-height: 50px;
	max-height: 60px;
	border: 1px solid red;
	font-size: 30px;
	text-align: center;
}
.header {
	margin: auto;
	margin-bottom: 10px;
	border: solid blue 4px;
	min-height: 100px;
	min-width: 700px;
	max-width: 1500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	/* margin-left: 100px;
  margin-top: 10px; */
	background-color: var(--main-color);
}
.form-container {
	margin: auto;
	min-width: 700px;
	max-width: 1500px;
	min-height: 1000px;
	border: solid blue 4px;
}
.title{
  margin: 10px;
  border: solid blue 4px;
}
.title-head {
	text-align: center;
	color: white;
	font-size: 50px;
  font-weight: bold;
}
.title-paragraph {
  margin: auto;
  padding: 10px;
	text-align: center;
	color: white;
	font-size: 30px;
  font-weight: bold;
	max-width: 600px;
}
.form {
	margin: auto;
	border: solid blue 4px;
	min-width: 500px;
	max-width: 1500px;
	min-height: 800px;
  display: flex;
	flex-direction: column;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.input-wrapper{
	margin: 10px;
	min-width: 900px;
	min-height: 100px;
	max-height: 150px;
	display: flex;
  flex-wrap: wrap;
	gap: 15px;
}
.wrap-radio-input {
	/* width: 100%; */
	min-width: 800px;
	min-height: 50px;
	max-height: 150px;
	border: 1px solid #fff;
	display: flex;
	padding: 20px;
	margin-bottom: 20px;
}

input[type=radio],
input[type=checkbox] {
	min-height: 20px;
	min-width: 20px;
	width: auto;
	margin-right: 15px;
}

.wrap-radio-input label {
	display: block;
	font-size: 22px;
	margin-bottom: 5px;
	color: white;
}

.wrap-radio-input span {
	display: block;
	font-size: 20px;
	color: white;
}

#login-btn {
	/* margin-top: 20px; */
	/* margin-right: 200px; */
	background-color: var(--main-color);
	min-width: 150px;
	min-height: 50px;
	border: solid white 1px;
	color: white;
	font-size: 30px;
	display: block;
}
::placeholder{
  font-size: 25px;
}
